altgraph==0.17.3
beautifulsoup4==4.12.2
cffi==1.15.1
chardet==5.1.0
cryptography==40.0.2
distlib==0.3.6
et-xmlfile==1.1.0
filelock==3.12.0
greenlet==2.0.2
lxml==4.9.2
numpy==1.24.3
onetimepad==1.4
openpyxl==3.1.2
pandas==2.1.2
pdf2image==1.16.3
pefile==2023.2.7
Pillow==9.5.0
platformdirs==3.5.0
psutil==5.9.6
pycparser==2.21
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyPDF2==3.0.1
pypdfium2==4.11.0
pysqlitecipher==0.22
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.12
typing_extensions==4.5.0
tzdata==2023.3
virtualenv==20.23.0
